.agreement .textBox {
  height: 734px;
  padding: 18px;
  border-radius: 10px;
  border: solid 1px #e9eaee;
  background-color: #fff;
}

.agreement .textBox .textBox__tit {
  color: #050505;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.4px;
}

.agreement .textBox .textBox__subTit {
  color: #050505;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.35px;
}

.agreement .textBox .textBox__txt {
  color: #050505;
  font-weight: 200;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: -0.3px;
  white-space: pre-wrap;
}
