.btn-row-wrap {
  display: flex;
}

.btn-step-chg {
  display: flex;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: .5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  box-sizing: border-box;
  line-height: var(--font-size);
}

.btn-step-chg.fs-1 {
  font-size: 1px;
}

.btn-step-chg.fs-2 {
  font-size: 2px;
}

.btn-step-chg.fs-3 {
  font-size: 3px;
}

.btn-step-chg.fs-4 {
  font-size: 4px;
}

.btn-step-chg.fs-5 {
  font-size: 5px;
}

.btn-step-chg.fs-6 {
  font-size: 6px;
}

.btn-step-chg.fs-7 {
  font-size: 7px;
}

.btn-step-chg.fs-8 {
  font-size: 8px;
}

.btn-step-chg.fs-9 {
  font-size: 9px;
}

.btn-step-chg.fs-10 {
  font-size: 10px;
}

.btn-step-chg.fs-11 {
  font-size: 11px;
}

.btn-step-chg.fs-12 {
  font-size: 12px;
}

.btn-step-chg.fs-13 {
  font-size: 13px;
}

.btn-step-chg.fs-14 {
  font-size: 14px;
}

.btn-step-chg.fs-15 {
  font-size: 15px;
}

.btn-step-chg.fs-16 {
  font-size: 16px;
}

.btn-step-chg.fs-17 {
  font-size: 17px;
}

.btn-step-chg.fs-18 {
  font-size: 18px;
}

.btn-step-chg.fs-19 {
  font-size: 19px;
}

.btn-step-chg.fs-20 {
  font-size: 20px;
}

.btn-step-chg.fs-21 {
  font-size: 21px;
}

.btn-step-chg.fs-22 {
  font-size: 22px;
}

.btn-step-chg.fs-23 {
  font-size: 23px;
}

.btn-step-chg.fs-24 {
  font-size: 24px;
}

.btn-step-chg.fs-25 {
  font-size: 25px;
}

.btn-step-chg.fs-26 {
  font-size: 26px;
}

.btn-step-chg.fs-27 {
  font-size: 27px;
}

.btn-step-chg.fs-28 {
  font-size: 28px;
}

.btn-step-chg.fs-29 {
  font-size: 29px;
}

.btn-step-chg.fs-30 {
  font-size: 30px;
}

.btn-step-chg.fs-31 {
  font-size: 31px;
}

.btn-step-chg.fs-32 {
  font-size: 32px;
}

.btn-step-chg.fs-33 {
  font-size: 33px;
}

.btn-step-chg.fs-34 {
  font-size: 34px;
}

.btn-step-chg.fs-35 {
  font-size: 35px;
}

.btn-step-chg.fs-36 {
  font-size: 36px;
}

.btn-step-chg.fs-37 {
  font-size: 37px;
}

.btn-step-chg.fs-38 {
  font-size: 38px;
}

.btn-step-chg.fs-39 {
  font-size: 39px;
}

.btn-step-chg.fs-40 {
  font-size: 40px;
}

.btn-step-chg.fs-41 {
  font-size: 41px;
}

.btn-step-chg.fs-42 {
  font-size: 42px;
}

.btn-step-chg.fs-43 {
  font-size: 43px;
}

.btn-step-chg.fs-44 {
  font-size: 44px;
}

.btn-step-chg.fs-45 {
  font-size: 45px;
}

.btn-step-chg.fs-46 {
  font-size: 46px;
}

.btn-step-chg.fs-47 {
  font-size: 47px;
}

.btn-step-chg.fs-48 {
  font-size: 48px;
}

.btn-step-chg.fs-49 {
  font-size: 49px;
}

.btn-step-chg.fs-50 {
  font-size: 50px;
}

.btn-step-chg.fs-51 {
  font-size: 51px;
}

.btn-step-chg.fs-52 {
  font-size: 52px;
}

.btn-step-chg.fs-53 {
  font-size: 53px;
}

.btn-step-chg.fs-54 {
  font-size: 54px;
}

.btn-step-chg.fs-55 {
  font-size: 55px;
}

.btn-step-chg.fs-56 {
  font-size: 56px;
}

.btn-step-chg.fs-57 {
  font-size: 57px;
}

.btn-step-chg.fs-58 {
  font-size: 58px;
}

.btn-step-chg.fs-59 {
  font-size: 59px;
}

.btn-step-chg.fs-60 {
  font-size: 60px;
}

.btn-step-chg.fs-61 {
  font-size: 61px;
}

.btn-step-chg.fs-62 {
  font-size: 62px;
}

.btn-step-chg.fs-63 {
  font-size: 63px;
}

.btn-step-chg.fs-64 {
  font-size: 64px;
}

.btn-step-chg.fs-65 {
  font-size: 65px;
}

.btn-step-chg.fs-66 {
  font-size: 66px;
}

.btn-step-chg.fs-67 {
  font-size: 67px;
}

.btn-step-chg.fs-68 {
  font-size: 68px;
}

.btn-step-chg.fs-69 {
  font-size: 69px;
}

.btn-step-chg.fs-70 {
  font-size: 70px;
}

.btn-step-chg.fs-71 {
  font-size: 71px;
}

.btn-step-chg.fs-72 {
  font-size: 72px;
}

.btn-step-chg.fs-73 {
  font-size: 73px;
}

.btn-step-chg.fs-74 {
  font-size: 74px;
}

.btn-step-chg.fs-75 {
  font-size: 75px;
}

.btn-step-chg.fs-76 {
  font-size: 76px;
}

.btn-step-chg.fs-77 {
  font-size: 77px;
}

.btn-step-chg.fs-78 {
  font-size: 78px;
}

.btn-step-chg.fs-79 {
  font-size: 79px;
}

.btn-step-chg.fs-80 {
  font-size: 80px;
}

.btn-step-chg.fs-81 {
  font-size: 81px;
}

.btn-step-chg.fs-82 {
  font-size: 82px;
}

.btn-step-chg.fs-83 {
  font-size: 83px;
}

.btn-step-chg.fs-84 {
  font-size: 84px;
}

.btn-step-chg.fs-85 {
  font-size: 85px;
}

.btn-step-chg.fs-86 {
  font-size: 86px;
}

.btn-step-chg.fs-87 {
  font-size: 87px;
}

.btn-step-chg.fs-88 {
  font-size: 88px;
}

.btn-step-chg.fs-89 {
  font-size: 89px;
}

.btn-step-chg.fs-90 {
  font-size: 90px;
}

.btn-step-chg.fs-91 {
  font-size: 91px;
}

.btn-step-chg.fs-92 {
  font-size: 92px;
}

.btn-step-chg.fs-93 {
  font-size: 93px;
}

.btn-step-chg.fs-94 {
  font-size: 94px;
}

.btn-step-chg.fs-95 {
  font-size: 95px;
}

.btn-step-chg.fs-96 {
  font-size: 96px;
}

.btn-step-chg.fs-97 {
  font-size: 97px;
}

.btn-step-chg.fs-98 {
  font-size: 98px;
}

.btn-step-chg.fs-99 {
  font-size: 99px;
}

.btn-step-chg.fs-100 {
  font-size: 100px;
}

.btn-step-chg.theme03 {
  --background: #105de1;
  --text: #fff;
  --font-size: 18px;
  --duration: .22s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
}

.btn-step-chg.modal-confirm {
  min-width: 204px;
  height: 46px;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  --background: #105de1;
  --text: #fff;
  --font-size: 18px;
  --duration: .22s;
  --move-hover: -5px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  --hover-background: #013ca0;
}

.btn-step-chg.modal-confirm div {
  height: 18px;
}

.btn-step-chg.modal-confirm span {
  color: #fff;
}

.btn-step-chg div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
  justify-content: center;
  align-items: center;
}

.btn-step-chg div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}

.btn-step-chg div span:nth-child(1) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(2) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(3) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(4) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(5) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(6) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(7) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(8) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(9) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(10) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(11) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(12) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(13) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(14) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(15) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(16) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(17) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(18) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(19) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(20) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(21) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(22) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(23) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(24) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(25) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(26) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(27) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(28) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(29) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
  background: var(--hover-background);
}

.btn-step-chg:hover span {
  --m: calc(var(--font-size) * -1);
}

.btn-step-chg.reverse {
  --font-shadow: calc(var(--font-size) * -1);
}

.btn-step-chg.reverse:hover span {
  --m: calc(var(--font-size));
}

.btnForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  height: 31px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.25);
}

.btnForm:hover {
  background: #394048;
  border-color: #394048;
  box-shadow: none;
}

.btnForm:hover .btnForm__txt {
  color: #fff;
}

.btnForm .btnForm__txt {
  color: #394048;
  font-size: 12px;
}

.btnForm.sm {
  width: 64px;
  height: 24px;
}

.btnForm.sm .btnForm__txt {
  color: #394048;
  font-size: 11px;
}

.btnForm.sm:hover .btnForm__txt {
  color: #fff;
}

.btn-cross-fill {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.btn-cross-fill::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 0%;
  height: 1px;
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.btn-cross-fill:hover::before {
  width: 100%;
}

.btn-cross-fill::after {
  content: '';
  position: absolute;
  right: 0px;
  top: -1px;
  width: 0%;
  height: 1px;
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.btn-cross-fill:hover::after {
  width: 100%;
}

.btn-primary-chg {
  width: 100%;
  justify-content: center;
  align-items: center;
  --background: #006df6;
  --text: #fff;
  --duration: .22s;
  --move-hover: -5px;
  --font-shadow: var(--font-size);
  --hover-background: #013ca0;
}

.btn-primary-chg.s-big {
  height: 64px;
  --font-size: 20px;
  border-radius: 32px;
}

.btn-primary-chg.normal-confirm-l {
  width: 388px;
  height: 72px;
  --font-size: 24px;
  font-weight: 600;
  border-radius: 36px;
}

.btn-primary-chg.normal-confirm-m {
  width: 300px;
  height: 60px;
  --font-size: 22px;
  font-weight: 600;
  border-radius: 30px;
}

.btn-primary-chg span {
  min-width: 3px;
  color: #fff;
}

.btn-primary-chg.white {
  --text: #394048;
  --background: #fff;
  --hover-background: #fff;
  border: solid 1px #e9eaee;
  font-weight: 400;
}

.btn-primary-chg.white span {
  color: #394048;
}

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 30px;
  color: #394048;
  font-size: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 0 0 rgba(5, 5, 5, 0.25);
}

.more-btn:hover {
  text-decoration: underline;
  border: 1px solid #d0d3db;
}
