
// 버튼 계단 변경
.btn-step-chg {

  // 폰트 사이즈
  @for $i from 1 through 100 {
    &.fs-#{$i} {
      font-size: 1px * $i;
    }
  }  

  &.theme03 {
    --background: #105de1;
    --text: #fff;
    --font-size: 18px;
    --duration: .22s;
    --move-hover: -4px;
    --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
    --font-shadow: var(--font-size);
  }

  &.modal-confirm {
    min-width: 204px;
    height: 46px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    --background: #105de1;
    --text: #fff;
    --font-size: 18px;
    --duration: .22s;
    --move-hover: -5px;
    --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
    --font-shadow: var(--font-size);
    --hover-background: #013ca0;

    div {
      height: 18px;
    }

    span {
      color: #fff;
    }
  }

  // --background: #275efe;
  // --text: #fff;
  // --font-size: 16px;
  // --duration: .44s;
  // --move-hover: -4px;
  // --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
  // --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
  // --font-shadow: var(--font-size);
  // padding: 16px 32px;
  // font-family: 'Roboto';
  // font-weight: 500;
  // line-height: var(--font-size);
  // border-radius: 24px;
  display: flex;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: .5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  box-sizing: border-box;
  line-height: var(--font-size);
  div {
      display: flex;
      overflow: hidden;
      text-shadow: 0 var(--font-shadow) 0 var(--text);
      justify-content: center;
      align-items: center;
      span {
          display: block;
          backface-visibility: hidden;
          font-style: normal;
          transition: transform var(--duration) ease;
          transform: translateY(var(--m)) translateZ(0);
          $i: 1;
          @while $i < 12 {
              &:nth-child(#{$i}) {
                  transition-delay: calc($i / 20) + s;
              }
              $i: $i + 1;
          }
      }
  }
  &:hover {
      --y: var(--move-hover);
      --shadow: var(--shadow-hover);
      background: var(--hover-background);
      span {
          --m: calc(var(--font-size) * -1);
      }
  }
  &.reverse {
      --font-shadow: calc(var(--font-size) * -1);
      &:hover {
          span {
              --m: calc(var(--font-size));
          }
      }
  }
}

.chip {

  overflow: hidden;
  background: #fff;
  
  &.chip-form,
  &.rg {
    --width: 81px;
    --height: 32px;
    --font-size: 14px;
    --color: #050505;
    letter-spacing: -0.35px;

    &.checked {
      font-weight: 500;
      background: #394048;

      .chip__txt {
        color: #fff;
      }
    }
  }

  &.rd {
    --width: 76px;
    --height: 24px;
    --font-size: 12px;
    --color: #050505;
    letter-spacing: -0.35px;

    &.checked {
      font-weight: 500;
      background: #394048;

      .chip__txt {
        color: #fff;
      }
    }
  }
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  border: 1px solid #d0d3db;
  box-sizing: border-box;

  &__txt {

    &.fs-s {
      --font-size: 12px;
    }

    &.fs-xxs {
      --font-size: 10px;
    }

    color: var(--color);
    font-size: var(--font-size);
    text-align: center;
  }

  &:hover {
    border-color: #394048;
  }

  &.checked {
    border-color: #394048;
  }
}

.compBtn {
  
  &__txt {
    font-size: var(font-size);

    &--white {
      color: #fff;
    }
  }
}

.btnForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  height: 31px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.25);

  &:hover {
    background: #394048;
    border-color: #394048;
    box-shadow: none;

    .btnForm__txt {
      color: #fff;
    }
  }
  
  .btnForm__txt {
    color: #394048;
    font-size: 12px;
  }

  &.sm {
    width: 64px;
    height: 24px;

    .btnForm__txt {
      color: #394048;
      font-size: 11px;
    }

    &:hover {

      .btnForm__txt {
        color: #fff;
      }
    }
  }
}

.fileList {

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    padding: 0 18px;

    &:hover {
      background: #f8f9fa;

      .fileList__name {
        border-bottom: 1px solid #050505;
      }
    }
  }

  &__name {
    color: #050505;
    font-size: 14px;
  }

  &__del {
    position: relative;
    width: 20px;
    height: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 11px;
      height: 14px;
      transform: translate(-50%, -50%);
      background-size: 239px;
      background-position: -64px -29px;
      background-image: url($imgModal + 'modal-sprites-form-apply.png');
    }

    &:hover {
      &::before {
        background-position: -64px -5px;
      }
    }
  }
}

.dropMenu {
  position: relative;

  &.matching-ctr {
    width: 122px;
    --height: 34px;
  }

  &__selected {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: var(--height);

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 3px;
      width: 14px;
      height: 10px;
      background: url($imgCommon + 'sprites-matching-search.png') -35px -10px/89px no-repeat;
      transform: translateY(-50%);
    }
  }

  &__txt {
    color: #787e85;
    font-size: 12px;
    line-height: 1em;
  }

  &__list {
    display: none;
    position: absolute;
    top: var(--height);
    left: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    border: 1px solid #dadada;
    box-sizing: border-box;
  }

  &__btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 28px;
    padding-left: 21px;
    box-sizing: border-box;

    .dropMenu__btnTxt {
      color: #787e85;
      font-size: 12px;
    }

    &:hover {
      background: #f4f5f6;

      .dropMenu__btnTxt {
        color: #050505;
      }
    }
  }
}