.chip {

  overflow: hidden;
  background: #fff;
  
  &.chip-form,
  &.rg {
    --width: 81px;
    --height: 32px;
    --font-size: 14px;
    --color: #050505;
    letter-spacing: -0.35px;

    &.checked {
      font-weight: 500;
      background: #394048;

      .chip__txt {
        color: #fff;
      }
    }
  }

  &.rd {
    --width: 76px;
    --height: 24px;
    --font-size: 12px;
    --color: #050505;
    letter-spacing: -0.35px;

    &.checked {
      font-weight: 500;
      background: #394048;

      .chip__txt {
        color: #fff;
      }
    }

    &.del {
      --width: auto;
      padding: 0 10px 0 15px;
    }
  }
  
  &.event {
    --width: 84px;
    --height: 29px;
    border: 0;

    &.on-going {
      background: $themeColor03;
    }

    &.ended {
      background: rgba(5, 5, 5, 0.6);
    }

    .chip__txt {
      color: #fff;
    }
  }

  &.case {
    --height: 32px;
    padding: 0 19px;
    --font-size: 14px;
    --color: #050505;
    letter-spacing: -0.35px;

    &.checked {
      font-weight: 500;
      background: $themeColor03;
      border-color: $themeColor03;

      .chip__txt {
        color: #fff;
      }
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  border: 1px solid #d0d3db;
  box-sizing: border-box;

  &__txt {
    font-weight: 500;

    &.fs-s {
      --font-size: 12px;
    }

    &.fs-xxs {
      --font-size: 10px;
    }

    color: var(--color);
    font-size: var(--font-size);
    text-align: center;
    white-space: nowrap;
  }

  &:hover {
    border-color: #394048;

    .chip__txt {
      font-weight: 600;
    }
  }

  &.checked {
    border-color: #394048;
  }

  &__del {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background: url($imgCommon + 'ico-chips-del.png') 0 0/9px no-repeat;
  }
}

.compBtn {
  
  &__txt {
    font-size: var(font-size);

    &--white {
      color: #fff;
    }
  }
}

.fileList {

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    padding: 0 18px;

    &:hover {
      background: #f8f9fa;

      .fileList__name {
        border-bottom: 1px solid #050505;
      }
    }
  }

  &__name {
    color: #050505;
    font-size: 14px;
  }

  &__del {
    position: relative;
    width: 20px;
    height: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 11px;
      height: 14px;
      transform: translate(-50%, -50%);
      background-size: 239px;
      background-position: -64px -29px;
      background-image: url($imgModal + 'modal-sprites-form-apply.png');
    }

    &:hover {
      &::before {
        background-position: -64px -5px;
      }
    }
  }
}

.dropMenu {
  position: relative;

  &.matching-ctr {
    width: 122px;
    --height: 34px;
  }

  &__selected {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: var(--height);

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 3px;
      width: 14px;
      height: 10px;
      background: url($imgCommon + 'sprites-matching-search.png') -35px -10px/89px no-repeat;
      transform: translateY(-50%);
    }
  }

  &__txt {
    color: #787e85;
    font-size: 12px;
    line-height: 1em;
  }

  &__list {
    display: none;
    position: absolute;
    top: var(--height);
    left: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    border: 1px solid #dadada;
    box-sizing: border-box;
  }

  &__btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 28px;
    padding-left: 21px;
    box-sizing: border-box;

    .dropMenu__btnTxt {
      color: #787e85;
      font-size: 12px;
    }

    &:hover {
      background: #f4f5f6;

      .dropMenu__btnTxt {
        color: #050505;
      }
    }
  }
}

.cardList {

  &.grid-2 {

    .cardList__item {
      width: 387px;
      margin-bottom: 16px;
      padding: 16px;
      border-radius: 10px;
      box-shadow: 0px 1px 2px 0 rgba(5, 5, 5, 0.25);
      border: solid 1px #e9eaee;
      background-color: #fff;

      &:nth-of-type(even) {
        margin-left: 15px;
      }
    }
  }
  &__item {
    position: relative;
  }
}

.profileCard {
  display: flex;
  flex-wrap: wrap;

  &__figWrap {
    width: 94px;
  }

  &__fig {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 94px;
    height: 94px;
    border-radius: 10px;
  }

  &__img {
    width: 100%;
  }

  &__name {
    display: block;
    margin-top: 7px;
    color: #050505;
    font-weight: 600;
    font-size: 16px;
    line-height: 1em;
    text-align: center;
    letter-spacing: 6px;
  }

  &__info {
    width: 243px;
  }

  .profileCard__figWrap + .profileCard__info {
    margin-left: 16px;
  }

  &__chipRow {
    display: flex;
  }

  &__summary {
    margin-top: 11px;

    &Item {
      margin-top: 7px;
      color: #394048;
      font-weight: 500;
      font-size: 12px;
      line-height: 1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__btnWrap {
    display: flex;
    margin-top: 14px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 32px;
    color: #787e85;
    font-weight: 500;
    font-size: 13px;
    border-radius: 16px;
    border: solid 1px #d0d3db;
    background-color: #f8f9fa;

    &:hover {
      color: #fff;
      border-color: #394048;
      background: #394048;
    }

    & + .profileCard__btn {
      margin-left: 6px;
    }
  }
}

.chip-pc {
  display: inline-block;
  padding: 5px 6px 4px;
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  line-height: 1em;
  background: #1ac87c;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0 rgba(5, 5, 5, 0.25);

  & + .chip-pc {
    margin-left: 6px;
  }
}

.detailCard {
  overflow: hidden;
  width: 285px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0 rgba(5, 5, 5, 0.25);
  border: solid 1px #e9eaee;
  background-color: #fff;

  &__body {
    position: relative;
    height: 288px;
    padding: 20px;
    background: url($imgCommon + 'bg-card-detail.png') 0 48px/275px no-repeat;
  }

  &__fig {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 142px;
    height: 142px;
    border-radius: 10px;
  }

  &__img {
    width: 100%;
  }

  &__company {
    margin-top: 20px;
    color: #050505;
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
  }

  &__part {
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    color: #050505;
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 1px;
      background: #050505;
    }
  }

  &__tm {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 23px;
    padding: 20px 0;
    color: #d8d9db;
    font-weight: 900;
    font-size: 13px;
    font-family: 'arial', sans-serif;
    line-height: 1em;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  &__foot {
    height: 80px;
    background: #394048;
  }

  &__name {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 10px;
  }
}

.searchTool {
  
  &__sch {
    position: relative;
    width: 488px;

  }

  &__schInp {
    width: 100%;
    height: 53px;
    padding-left: 60px;
    border: 0;
    border-bottom: 2px solid #e9eaee;

    &::placeholder {
      text-align: center;
    }
  }

  &__schBtn {
    position: absolute;
    top: 17px;
    left: 20px;
    width: 20px;
    height: 20px;
  }

  &__rst {
    height: 53px;
    border-bottom: 2px solid #e9eaee;
  }

  &__rstTxt {
    padding: 0 43px;
    color: #787e85;
    font-size: 13px;

    .point {
      color: #f70f66;
      font-size: 1em;
    }
  }
}

.selectKeyword {

  &__item {
    margin-right: 8px;
  }

  &__key {
    height: 24px;
    padding: 0 3px;
    font-size: 0;
    border: 1px solid #eee;

    .txt {
      color: #8d8e8e;
      font-size: 16px;
      font-family: 'dotum', sans-serif;
    }

    &.all {
      padding: 0 10px;

      .txt {
        font-size: 12px;
      }
    }
  }
}

.boardList {

  &__row {
    border-bottom: 1px solid #eee;

    &:hover {

      .boardList__tit {
        font-weight: 600;
        color: #050505;
        text-decoration: underline;
      }

      .boardList__date {
        color: #000;
      }

      .boardList__ctg {
        color: #000;
      }

      .boardList__txt {

        p {
          font-weight: 500;
          color: #050505;
          text-decoration: underline;
        }

        &::before {
          background: #050505;
        }
      }

      .boardList__schKw {
        font-weight: 600;
      }
    }

    &.open {

      .boardList__tit {
        font-weight: 600;
        text-decoration: none;
      }

      .boardList__btn {
        cursor: default;
      }

      .boardList__cntNum{
        color: #050505;
      }
      
      .boardList__cont {
        padding-top: 25px;
        background: #f5f5f5;
        border-top: 2px solid #050505;
        text-decoration: none;

        img {
          display: block;
        }
      }
      
      .boardList__txt {
        padding-right: 102px;
        &::before {
          display: none;
        }

        p {
          display: block;
          text-decoration: none;
          word-wrap:break-word; 
          height: auto;
          font-weight: 400;
          color: #050505;
        }
      }
      
      .boardList__close {
        display: flex;
      }

      .boardList__schKw {
        font-weight: 600;
      }
    }
  }

  &__btn {
    display: block;
  }

  &__header {
    display: flex;
    align-items: center;
    position: relative;
    height: 78px;
  }

  &__cnt {
    display: flex;
    align-items: flex-end;
    width: 102px;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;

    &Num {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 500;
      font-size: 18px;
    }
  }

  &__tit {
    color: #050505;
    font-weight: 500;
    font-size: 18px;
  }

  &__schKw {
    color: #f01165;
    font-weight: 500;
    text-decoration: underline;
  }

  &__date {
    position: absolute;
    top: 30px;
    right: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 200;
    font-size: 16px;
    line-height: 1em;
  }

  &__ctg {
    position: absolute;
    top: 30px;
    right: 90px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 200;
    font-size: 16px;
    line-height: 1em;
    transform: translateX(50%);
  }

  &__cont {
    padding: 15px 7px 30px 102px;
          
    img {
      display: none;
      margin-top: 50px;
    }
  }

  &__txt {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -15px;
      left: 0;
      width: 15px;
      height: 1px;
      background: rgba(5, 5, 5, 0.6);
    }

    p {
      color: rgba(5, 5, 5, 0.6);
      font-size: 14px;
      line-height: 24px;
      display:-webkit-box; 
      word-wrap:break-word; 
      -webkit-line-clamp: 2; 
      -webkit-box-orient:vertical; 
      overflow:hidden; 
      text-overflow:ellipsis;
      height: 48px;
    }
  }

  &__close {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    width: 188px;
    height: 53px;
    margin: 60px auto 0;
    color: #394048;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #d0d3db;
    background: #fff;
  }


  &.has-txt {

    .boardList__txt {
      padding-right: 200px;
    }
  }
}

.reset {

  &__btn {
    display: flex;
    align-items: center;
    position: relative;
    height: 18px;
    padding-left: 25px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background: url($imgCommon + 'ico-reset.png') 0 0/36px no-repeat;
    }
  }

  &__txt {
    color: #787e85;
    font-size: 12px;
  }

  &:hover {

    .reset__btn {

      &::before {
        background-position: -18px 0;
      }
    }

    .reset__txt {
      color: #787e85;
      font-weight: 500;
      line-height: 14px;
      border-bottom: 1px solid #787e85;
    }
  }
}

.noData {
  text-align: center;

  &__txtHead {
    color: #787e85;
    font-weight: 600;
    font-size: 17px;
    line-height: 1em;
  }

  &__txtSub {
    margin-top: 44px;
    color: #787e85;
    font-size: 14px;
    line-height: 28px;
  }

  &.key-searched {
    padding-top: 154px;
    background: url($imgCommon + 'ico-key-result-is-no.png') 50% 0/96px no-repeat;
  }
}

.contactUs {
  padding: 95px 0 80px;
  background: #151c27 url($imgMain + 'bg-contact-us.jpg') 50% 0/auto 600px no-repeat;

  .contactUs__tit {
    mix-blend-mode: overlay;
    color: #fff;
    font-family: Arial;
    font-size: 100px;
    font-weight: 900;
    line-height: 74px;
    text-align: center;
  }

  &__box {
    height: 466px;
    margin-top: 96px;
    border-radius: 15px;
    overflow: hidden;
  
    .contactUs__cont {
      width: 813px;
      background: #fff;
    }
  }
  
  &__about {
    height: 188px;
    padding-left: 40px;
    flex-direction: column;
    box-sizing: border-box;
    
    .contactUs__logo {
      width: 184px;
    }

    .contactUs__aboutTxt {
      margin-top: 44px;
      color: #050505;
      font-size: 16px;
      letter-spacing: -0.8px;
    }
  }

    
  &__cs {
    padding: 40px;
    border-top: 1px solid #eee;

    &Item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 234px;
      height: 60px;
      border-radius: 4px;
      border: 1px solid #eee;
      background: #f9f9fa;
      box-sizing: border-box;

      .contactUs__csTxt {
        color: #787e85;
        font-weight: 600;
        font-size: 16px;
  
      }

      &.contactUs__csLink {
        .contactUs__csTxt {
          color: #050505;
        }
      }

      &.kakao {

        &:hover {
          background: #fde50f;
          border-color: #fde50f;

          .contactUs__csTxt {
            border-bottom: 1px solid #050505;
          }
        }
      }

      &.partner {

        &:hover {
          background: $themeColor03;
          border-color: $themeColor03;

          .contactUs__csTxt {
            color: #fff;
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }

  &__guide {
    margin-top: 42px;

    &Txt {
      position: relative;
      color: #787e85;
      font-weight: 400;
      font-size: 14px;
      line-height: 1em;
      margin-left: 20px;

      &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: -10px;
        width: 1px;
        height: 13px;
        background: #787e85;
      }

      &:first-child {
        margin-left: 0;

        &::before {
          display: none;
        }
      }
    }
  }

  .contactUs__guideBox {
    height: 386px;
    padding: 52px 0 0 42px;

    &1 {
      color: #394048;
      font-weight: 700;
      font-size: 32px;
      letter-spacing: -0.8px;
    }

    &2 {
      margin-top: 47px;
      color: #394048;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -0.8px;

      strong {
        font-weight: 800;
        font-size: 1em;
      }
    }

    &3 {
      margin-top: 22px;
      color: #394048;
      font-size: 14px;
    }

    &4 {
      position: relative;
      margin-top: 45px;
      padding-top: 20px;
      color: #787e85;
      font-size: 14px;
      line-height: 28px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 1px;
        background: #787e85;
      }
    }

    &5 {
      display: inline-block;
      margin-top: 22px;
      color: #394048;
      font-weight: 600;
      font-size: 16px;
      line-height: 1em;
      letter-spacing: -0.4px;
      border-bottom: 1px solid #394048;

      &:hover,
      &:active {
        color: #1b2432;
      }
    }
  }
  
  .sns {
    width: 100%;
    height: 80px;
    padding: 0 40px;
    background: #f9f9fa;
    box-sizing: border-box;

    .snsTxt {
      color: #787e85;
      font-weight: 600;
      font-size: 16px;
      line-height: 1em;
      white-space: nowrap;
    }
    
    .snsItem {
      margin-left: 20px;
    }

    .snsBtn {
      display: block;
      width: 58px;
      height: 42px;
      background-size: 100%;

      &.youtube {
        background-image: url($imgCommon + 'ico-youtube-gray.png');
      }

      &:hover {
        &.youtube {
          background-image: url($imgCommon + 'ico-youtube.png');
        }
      }

      &.blog {
        background-image: url($imgCommon + 'ico-blog-gray.png');
      }

      &:hover {
        &.blog {
          background-image: url($imgCommon + 'ico-blog.png');
        }
      }
    }
  }

  .app-down {
    padding: 53px 45px 0;
    background: #1b2432;

    &-tit {
      color: #fff;
      font-weight: 500;
      font-size: 24px;
      line-height: 1em;
      text-align: center;
    }

    &-sub {
      margin-top: 56px;

      .type-title {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 1em;
      }
    }

    .sub-row {
      margin-top: 20px;

      .qr-img {
        width: 60px;
        height: 60px;
      }

      .type-img {
        width: 207px;
        height: 61px;
        margin-left: 34px;
        background-size: 217px;
        background-image: url($imgMain + 'sprites-contact-us.png');

        &.ios {
          background-position: -5px -76px;
        }

        &.android {
          background-position: -5px -5px;
        }
      }
    }

    .app-down-txt {
      margin-top: 38px;
      color: #9ea3a8;
      font-weight: 200;
      font-size: 14px;
      text-align: center;
    }
  }
}
