.chip {

  overflow: hidden;
  background: #fff;
  
  &.chip-form,
  &.rg {
    --width: 81px;
    --height: 32px;
    --font-size: 14px;
    --color: #050505;
    letter-spacing: -0.35px;

    &.checked {
      font-weight: 500;
      background: #394048;

      .chip__txt {
        color: #fff;
      }
    }
  }

  &.rd {
    --width: 76px;
    --height: 24px;
    --font-size: 12px;
    --color: #050505;
    letter-spacing: -0.35px;

    &.checked {
      font-weight: 500;
      background: #394048;

      .chip__txt {
        color: #fff;
      }
    }
  }
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  border: 1px solid #d0d3db;
  box-sizing: border-box;

  &__txt {

    &.fs-s {
      --font-size: 12px;
    }

    &.fs-xxs {
      --font-size: 10px;
    }

    color: var(--color);
    font-size: var(--font-size);
    text-align: center;
  }

  &:hover {
    border-color: #394048;
  }

  &.checked {
    border-color: #394048;
  }
}

.compBtn {
  
  &__txt {
    font-size: var(font-size);

    &--white {
      color: #fff;
    }
  }
}

.fileList {

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    padding: 0 18px;

    &:hover {
      background: #f8f9fa;

      .fileList__name {
        border-bottom: 1px solid #050505;
      }
    }
  }

  &__name {
    color: #050505;
    font-size: 14px;
  }

  &__del {
    position: relative;
    width: 20px;
    height: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 11px;
      height: 14px;
      transform: translate(-50%, -50%);
      background-size: 239px;
      background-position: -64px -29px;
      background-image: url($imgModal + 'modal-sprites-form-apply.png');
    }

    &:hover {
      &::before {
        background-position: -64px -5px;
      }
    }
  }
}

.dropMenu {
  position: relative;

  &.matching-ctr {
    width: 122px;
    --height: 34px;
  }

  &__selected {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: var(--height);

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 3px;
      width: 14px;
      height: 10px;
      background: url($imgCommon + 'sprites-matching-search.png') -35px -10px/89px no-repeat;
      transform: translateY(-50%);
    }
  }

  &__txt {
    color: #787e85;
    font-size: 12px;
    line-height: 1em;
  }

  &__list {
    display: none;
    position: absolute;
    top: var(--height);
    left: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    border: 1px solid #dadada;
    box-sizing: border-box;
  }

  &__btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 28px;
    padding-left: 21px;
    box-sizing: border-box;

    .dropMenu__btnTxt {
      color: #787e85;
      font-size: 12px;
    }

    &:hover {
      background: #f4f5f6;

      .dropMenu__btnTxt {
        color: #050505;
      }
    }
  }
}

.cardList {

  &.grid-2 {

    .cardList__item {
      width: 387px;
      height: 156px;
      margin-bottom: 16px;
      padding: 16px 11px 10px 14px;
      border-radius: 10px;
      box-shadow: 0px 1px 2px 0 rgba(5, 5, 5, 0.25);
      border: solid 1px #e9eaee;
      background-color: #fff;

      &:nth-of-type(even) {
        margin-left: 15px;
      }
    }
  }
  &__item {
    position: relative;
  }
}

.profileCard {
  display: flex;
  flex-wrap: wrap;

  &__figWrap {
    width: 92px;
  }

  &__img {
    width: 92px;
    height: 92px;
    border-radius: 50%;
  }

  &__name {
    display: block;
    margin-top: 13px;
    color: #050505;
    font-weight: 600;
    font-size: 16px;
    line-height: 1em;
    text-align: center;
    letter-spacing: 6px;
  }

  &__info {
    width: 244px;
  }

  .profileCard__figWrap + .profileCard__info {
    margin-left: 24px;
  }

  &__chipRow {
    display: flex;
  }

  &__summary {
    margin-top: 11px;

    &Item {
      margin-top: 7px;
      color: #394048;
      font-size: 12px;
      line-height: 1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__btnWrap {
    display: flex;
    margin-top: 14px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 32px;
    color: #787e85;
    font-weight: 500;
    font-size: 13px;
    border-radius: 16px;
    border: solid 1px #d0d3db;
    background-color: #f8f9fa;

    &:hover {
      color: #fff;
      border-color: #394048;
      background: #394048;
    }

    & + .profileCard__btn {
      margin-left: 6px;
    }
  }
}

.chip-pc {
  display: inline-block;
  padding: 5px 6px 4px;
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  line-height: 1em;
  background: #1ac87c;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0 rgba(5, 5, 5, 0.25);

  & + .chip-pc {
    margin-left: 6px;
  }
}

.detailCard {
  overflow: hidden;
  width: 285px;
  height: 378px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0 rgba(5, 5, 5, 0.25);
  border: solid 1px #e9eaee;
  background-color: #fff;

  &__body {
    position: relative;
    height: 298px;
    padding: 20px;
    background: url($imgCommon + 'bg-card-detail.png') 0 100%/275px no-repeat;
  }

  &__img {
    width: 142px;
    height: 142px;
    border-radius: 10px;
  }

  &__company {
    margin-top: 20px;
    color: #050505;
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
  }

  &__part {
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    color: #050505;
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 1px;
      background: #050505;
    }
  }

  &__tm {
    position: absolute;
    top: 112px;
    right: -86px;
    color: #d8d9db;
    font-weight: 900;
    font-size: 16px;
    font-family: 'arial', sans-serif;
    line-height: 1em;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    transform: rotate(90deg);
  }

  &__foot {
    height: 80px;
    background: #394048;
  }

  &__name {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 10px;
  }
}