.l-footerMain {
  margin-top: -80px;
  
  .footerMain__top {
    padding: 40px 0;
    background: #151c27;
  }

  .fmMenu__item {
    position: relative;
    margin: 0 16px;

    &::after {
      content: '';
      position: absolute;
      top: 6px;
      right: -16px;
      width: 1px;
      height: 16px;
      background: #6b757f;
      opacity: 0.4;
    }
    &:last-child::after {
      display: none;
    }
  }

  .fmMenu__link {
    color: #6b757f;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  .fmAddr-wrap {
    height: 36px;
    background: #f8f9fa;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .fmAddr {
    color: #6b757f;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
  }

  .fmAddr__bar {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background: #6b757f;
  }

  .fmAddr__company {
    color: inherit;
    font-size: 1em;
    margin-right: 20px;
  }

  .fmCopy {
    height: 28px;
    color: #bec2c7;
    font-size: 10px;
    font-weight: 300;
  }

  .footerMain__ban {

    &Inner {
      position: relative;
      padding: 0 51px;
      box-sizing: border-box;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 51px;
        width: 1px;
        background: #fff;
        z-index: 10;
      }
    }
  }

  .footerMain__slide {
    border-right: 1px solid#eee;
    box-sizing: border-box;
  }

  .footerMain__swiperBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 78px;
    box-sizing: border-box;
  }

  .footerMain__nav {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 27px;
    border: 1px solid #eee;
    box-sizing: border-box;
    cursor: pointer;
    transform: translateY(-50%);

    &[aria-disabled="true"] {
      display: none;
    }

    &:hover {
      background: #f8f9fa;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 7px;
      height: 12px;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: 28px;
      background-image: url($imgCommon + 'ico-foot-ban-arrow.png');
    }
  }

  .footerMain__next {
    right: 0;
    &::after {
      background-position: -21px 0;
    }

    &:hover {
      &::after {
        background-position: -7px 0;
      }
    }
  }

  .footerMain__prev {
    left: 0;
    &::after {
      background-position: -14px 0;
    }

    &:hover {
      &::after {
        background-position: 0 0;
      }
    }
  }
}

.l-footer-sub {
  background: #fff;
  border-top: 1px solid #bcb5b9;
  border-bottom: 1px solid #bcb5b9;

  .fs-top {
    background: #FBFBFC;

    &-inner {
      height: 60px;
    }

    .fs-board-link {

      .link-item {
        position: relative;
        margin-right: 40px;
  
        &:last-child {
  
          &::after {
            display: none;
          }
        }
  
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: -20px;
          width: 1px;
          height: 14px;
          background: #848d96;
        }
      }
  
      .btn-link {
        display: block;
        color: #848d96;
        font-size: 14px;
        line-height: 1em;
  
        &:hover {
          color: #394048;
          font-weight: 500;
          text-decoration: underline;
        }
      }
    }

    .fs-quick {

      .link-item {
        margin-left: 20px;
      }

      .btn-link {
        padding: 10px 0;
        --background: #bec2c7;
        --text: #fff;
        --font-size: 14px;
        --duration: .22s;
        --move-hover: -5px;
        --hover-background: #bec2c7;
        --font-shadow: var(--font-size);
        border-radius: 4px;

        div {
          display: flex;
          width: 100%;
          justify-content: center;
        }

        span {
          color: #fff;
          font-weight: 600;
        }

        &.btn-link1 {
          width: 183px;
        }

        &.btn-link2 {
          width: 82px;
        }
      }
    }
  }

  .fs-center {
    border-top: 1px solid #eaebef;

    &-inner {
      height: 126px;
    }

    .menu-col-box {
      margin-right: 56px;

      .center-menu {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 70px;
      }

      .link-btn {
        color: #848d96;
        font-size: 12px;
        line-height: 1em;
        letter-spacing: -0.3px;

        &:hover {
          color: #394048;
          font-weight: 500;
          font-size: 12px;
          text-decoration: underline;
        }
      }
    }

    .download-menu {

      .item {
        margin-left: 26px;
      }

      .os-name {
        color: #050505;
        font-weight: 400;
        font-size: 14px;
        line-height: 1em;
      }

      .os-imgs {
        margin-top: 11px;

        .fig:first-child {
          width: 42px;
        }

        .fig + .fig {
          margin-left: 6px;
        }
      }

      .fig-qr-img {
        width: 42px;
        height: 42px;
        box-sizing: border-box;
        border: 1px solid #dadada;
        border-radius: 3px;
      }

      .fig-store-img {
        width: 144px;
        height: 42px;
      }
    }
  }

  .fs-bottom {
    border-top: 1px solid #eaebef;

    &-inner {
      position: relative;
      height: 72px;
    }

    .fs-logo {
      width: 122px;
    }

    .fs-addr {
      margin-left: 40px;
      color: #848d96;
      font-weight: 200;
      font-size: 12px;
      line-height: 1.67;
      letter-spacing: -0.3px;
    }

    .fs-copy {
      position: absolute;
      bottom: 20px;
      right: 0;
      color: rgba(107, 117, 127, 0.4);
      font-weight: 200;
      font-size: 10px;
      line-height: 1em;
    }
  }
}

.goTop {
  position: fixed; 
  bottom: 40px; 
  right: 0;
  border: solid 1px #f8f9fa;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(5, 5, 5, 0.2);

  &__btn {
    width: 80px;
    height: 64px;
  }

  &__txt {
    display: block;
    position: relative;
    padding-top: 31px;
    color: #787e85;
    font-weight: 500;
    font-size: 10px;
    line-height: 1em;

    &::before {
      content:'';
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      transform: translateX(-50%);
      background: url($imgCommon + 'ico-btn-top.png') 0 0/48px no-repeat;
    }
  }
  
  &:hover {

    .goTop__txt {
      &::before {
        background-position: -24px 0;
      }
    }
  }
}