.l-container {
  position: relative;
  padding-top: 90px;

  &-sub {
    padding-top: 91px;

    &.matching-container {

      &.fixed {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    
      &:after {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 50%;
        background: #f2f2f3;
      }
    }
  }
}