.l-container {
  position: relative;
}

.l-container-sub {
  padding-top: 91px;
}

.l-container-sub.matching-container:after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 50%;
  background: #f2f2f3;
}
