.l-container {
  position: relative;
  padding-top: 90px;
}

.l-container-matching {
  padding-top: 91px;
}

.l-container-matching.matching-container.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.l-container-matching.matching-container:after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 50%;
  background: #f2f2f3;
}

.l-container-sub {
  padding: 91px 0 100px;
}
