.mainTop {
  position: relative; 
  min-height: 525px;

  &__cont {
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 11; 
    width: 100%; 
    height: 100%;
    pointer-events: none;

    &Inner {
      position: relative;
      height: 100%;
    }
  }

  &Box {
    padding-top: 170px;

    &__txt {
      color: #00ff89;
      font-weight: 500;
      font-size: 20px;
      line-height: 1;
    }

    &__txt2 {
      margin-top: 18px;
      color: #fff;
      font-weight: 100;
      font-size: 54px;
      line-height: 1;
    }

    &__txt3 {
      margin-top: 16px;
      color: #fff;
      font-weight: 600;
      font-size: 54px;
      line-height: 1;
    }
  }

  .mainSimpleBan {
    position: absolute;
    bottom: 159px;
    left: 0;
    width: 610px;

    &__list {
      float: left;
      width: 287px;
      height: 98px;
      margin: 0 18px 18px 0;
      padding: 15px 20px 18px;
      background-repeat: no-repeat;
      background-size: 594px;
      box-sizing: border-box;

      &:nth-of-type(1) {
        background-image: url($imgMain + 'bg-main-top.png');
        background-position: -3px -5px;
      }

      &:nth-of-type(2) {
        background-image: url($imgMain + 'bg-main-top.png');
        background-position: -300px -5px;
      }

      &:nth-of-type(3) {
        background-image: url($imgMain + 'bg-main-top.png');
        background-position: -3px -113px;
      }

      &:nth-of-type(4) {
        background-image: url($imgMain + 'bg-main-top.png');
        background-position: -300px -113px;
      }
    }

    &__txt {
      color: #fff;
      font-size: 14px;
      line-height: 1;
      font-weight: 400;
    }

    &__cnt {
      margin-top: 10px;
      color: #fff;
      font-size: 24px;
      line-height: 1;
      font-weight: 800;
      text-align: right;

      &Num {
        margin-right: 11px;
        color: #fff;
        font-weight: 700;
        font-size: 48px;
        font-style: italic;
        text-shadow: 0px 2px 2px rgba(5, 5, 5, 0.25);
      }
    }
  }

  &Counsel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background: rgba(3, 192, 102, 0.9); 

    &__inner {
      height: 180px;
      justify-content: space-between;
      align-items: center;
    }

    &__txt1 {
      position: relative;
      color: #fff;
      font-weight: 500;
      font-size: 18px;
      line-height: 1;
      padding-bottom: 18px;
      letter-spacing: -0.45px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 2px;
        background: #fff;
      }
    }

    &__txt2 {
      margin-top: 12px;
      color: #fff;
      font-weight: 200;
      font-size: 14px;
      line-height: 22px;
    }

    // 메인비주얼 무료상담 받기 버튼 효과
    .mainTopCounsel__link {
      width: 388px;
      height: 72px;
      text-align: center;
      margin-right: 100px;
      box-shadow: 0px 2px 2px 0 rgba(5, 5, 5, 0.2);
      background-color: #fff;
      color: #008246;
      white-space: nowrap;
      --background: #fff;
      --text: #008246;
      --font-size: 28px;
      --duration: .44s;
      --move-hover: -4px;
      --shadow: 0 2px 8px -1px #{rgba(#121621, .04)};
      --shadow-hover: 0 4px 20px -2px #{rgba(#121621, .12)};
      --font-shadow: var(--font-size);
      font-family: 'Roboto';
      font-weight: 600;
      line-height: var(--font-size);
      border-radius: 36px;
      outline: none;
      text-decoration: none;
      font-size: var(--font-size);
      letter-spacing: .5px;
      background: var(--background);
      color: var(--text);
      box-shadow: var(--shadow);
      transform: translateY(var(--y)) translateZ(0);
      transition: transform var(--duration) ease, box-shadow var(--duration) ease;
      box-sizing: border-box;
      div {
        display: flex;
        overflow: hidden;
        text-shadow: 0 var(--font-shadow) 0 var(--text);
        span {
          display: block;
          backface-visibility: hidden;
          color: #008246;
          font-style: normal;
          transition: transform var(--duration) ease;
          transform: translateY(var(--m)) translateZ(0);
          $i: 1;
          @while $i < 12 {
              &:nth-child(#{$i}) {
                  transition-delay: calc($i / 20) + s;
              }
              $i: $i + 1;
          }

          &:nth-of-type(3),
          &:nth-of-type(6) {
            width: 8px;
          }
        }
      }
      &:hover {
          --y: var(--move-hover);
          --shadow: var(--shadow-hover);
          span {
              --m: calc(var(--font-size) * -1);
          }
      }
      &.reverse {
          --font-shadow: calc(var(--font-size) * -1);
          &:hover {
              span {
                  --m: calc(var(--font-size));
              }
          }
      }
    }

  }

  &Swiper {
    overflow: hidden;
  }
  &Swiper__img  {
    width: 100%;
    min-height: 795px;
    object-fit: cover;
  }
}

.mainSection__tit {
  color: #050505;
  font-weight: 600;
  font-size: 42px;
  line-height: 1em;
  text-align: center;

  &.light {
    color: #fff;
  }
}

.mainSection__subTit {
  margin-top: 30px;
  color: #787e85;
  font-weight: 400;
  font-size: 24px;
  line-height: 1em;
  text-align: center;

  &.light {
    color: #fff;
  }
}

.mainService {
  padding: 95px 0;

  &__col {
    width: 387px;
    margin-top: 80px;
    text-align: center;
  }

  &__iTxt01 {
    margin-top: 39px;
    color: #050505;
    font-size: 22px;
    line-height: 1em;
    letter-spacing: -0.55px;
  }

  &__iTxt02 {
    margin-top: 8px;
    color: #050505;
    font-size: 32px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -0.8px;
  }

  &__iTxt03 {
    position: relative;
    margin-top: 18px;
    padding-top: 12px;
    color: #787e85;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.56px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 14px;
      height: 1px;
      background: #787e85;
      transform: translateX(-50%);
    }
  }
}

.mainPower {
  padding: 95px 0;
  background: #f9f9fa;

  &__list {
    margin-top: 80px;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    a {
      display: block;
      font-size: 0;
    }
  }

  &__name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 52px;
    background: rgba(0, 0, 0, 0.5);
  }

  &__btn {
    width: 388px;
    height: 64px;
    margin: 0 10px;
    border-radius: 32px;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.18);

    &.direct {
      background: $themeColor01;
    }

    &.recommend {
      background: $themeColor03;
    }

    &:hover {
      background: $themeColor04;
    }

    &Txt {
      color: #fff;
      font-weight: 600;
      font-size: 24px;
    }
  }

  &__btnWrap {
    margin-top: 80px;
  }
}

.mainService2 {
  padding: 95px 0;
  background: url($imgMain + 'bg-service2.jpg') 50% 0/cover no-repeat;

  &__list {
    margin-top: 77px;
  }

  &__item {
    position: relative;
    text-align: center;
  }

  &__icon {
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;

    &.icon01 {
      background: $themeColor01;

      &::before {
        width: 38px;
        height: 44px;
        background-position: -6px -5px;
      }
    }

    &.icon02 {
      background: $themeColor02;

      &::before {
        width: 38px;
        height: 38px;
        background-position: -54px -5px;
      }
    }

    &.icon03 {
      background: $themeColor03;

      &::before {
        width: 44px;
        height: 30px;
        background-position: -103px -5px;
      }
    }

    &.icon04 {
      background: $themeColor04;

      &::before {
        width: 36px;
        height: 45px;
        background-position: -5px -59px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: 152px;
      background-image: url($imgMain + 'sprite-service2.png');
    }
  }

  &__colTit {
    margin-top: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
  }

  &__colTxt {
    margin-top: 18px;
    color: #fff;
    font-weight: 200;
    font-size: 14px;
    line-height: 22px;
  }

  &__view {
    margin-top: 31px;
    color: #fff;
    font-weight: 200;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #fff;
  }
}