.matching-content {
  height: 100%;
  background: #f2f2f3;

  .matching-result {
    position: relative;
    width: 833px;
    height: 100%;
    margin: 0 -40px 0 33px;

    &-in {
      position: relative;
      height: 100%;
      padding: 0 40px 0 3px;
    }
  }

  .matching-sticky-wrap {
    position: relative;
    width: 100%;
  }

  .matchingSch {
    position: sticky;
    top: -1px;
    left: -1px;
    z-index: 1;
    width: 100%;
    margin: 0 -1px;
    padding: 30px 1px;
    background: #f2f2f3;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -1px;
      width: 1px;
      background: #f2f2f3;
    }
  }

  .matchingSch__in {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 101;
    width: 100%;
    height: 36px;
    border: 1px solid #dadada;
    border-radius: 18px;
    background: #fff;
    box-shadow: 0px 1px 2px 0 rgba(5, 5, 5, 0.25);

    &.focus,
    &:hover {
      border-color: #787e85;
      box-shadow: none;
    }

    &--drop-menu {
      border-color: #dadada;
      box-shadow: none;
      border-radius: 18px 18px 18px 0;

      &:hover {
        border-color: #dadada;
        box-shadow: none;
      }
      .dropMenu__list {
        left: -1px;
      }
    }

    .matchingSch__submit {
      position: absolute;
      top: 8px;
      right: 16px;
      width: 19px;
      height: 19px;
      background: url($imgCommon + 'sprites-matching-search.png') -5px -53px/89px no-repeat;

      &:hover {
        background-position: -65px -5px;
      }
    }
  }

  .searched-key {
    padding: 30px 0;
    border-bottom: 1px solid #eee;

    .chipList__item {
      margin-right: 6px;
    }

    .chip {

      &:hover {
        background: #394048;

        .chip__txt {
          color: #fff;
        }
      }
    }
  }

  .matchingSch__inp {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 18px;

    &Txt {
      width: 100%;
      height: 34px;
      padding: 0 30px;
      border: 0;
      text-align: center;
    }

    &Del {
      display: none;
      position: absolute;
      top: 9px;
      right: 50px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #787e85;

      &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        background: url($imgCommon + 'sprites-matching-search.png') -10px -30px/89px no-repeat;
      }
    }
  }

  .matching-card-list {
    padding-bottom: 17px;

    .cardList {
      width: calc(100% + 20px);
    }
  }

  .matching-more {
    width: 793px;

    .more-btn {
      margin: 30px 0;
    }
  }

  .matching-detail-side {
    width: 372px;
    padding-right: 33px;
    background: #fff;
    border-right: 1px solid #eaebef;

    .side-head {
      padding: 30px 0 32px;

      .detailCard {
        margin-left: 27px;
      }

      .location {
        margin-top: 28px;

        &-txt {
          position: relative;
          width: 260px;
          word-break: keep-all;
          padding-left: 25px;
          color: #394048;
          font-weight: 500;
          font-size: 12px;
          line-height: 24px;

          &::before {
            content: '';
            position: absolute;
            top: 1px;
            left: 0;
            width: 14px;
            height: 20px;
            background: url($imgCommon + 'ico-location.png') 0 50%/14px no-repeat;
          }
        }
      }

      .copy-location {
        width: 64px;
        height: 24px;
        border-radius: 4px;
        border: 1px solid #d0d3db;
        background-color: #f9f9fa;
      }
    }

    .side-foot {

      .comment-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 180px;
        background: #f9f9fa;
        border-radius: 10px;

        &::before {
          content: '“';
          position: absolute;
          top: 20px;
          left: 20px;
          height: 20px;
          font-size: 80px;
          color: rgba(176, 179, 182, 0.4);
          line-height: 1em;
        }

        &::after {
          content: '”';
          position: absolute;
          bottom: 20px;
          right: 20px;
          height: 20px;
          font-size: 80px;
          color: rgba(176, 179, 182, 0.4);
          line-height: 1em;
        }

        & + .attach-link {
          margin-top: 68px;
        }
      }

      .comment {
        padding: 0 60px;
        color: #394048;
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
        line-height: 1.75;
        text-align: center;
      }
    }

    .attach-link {
      
      .link-item {
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }
      }

      .link-btn {
        display: block;
        position: relative;
        width: 42px;
        height: 42px;
        border: 1px solid #fff;
        border-radius: 21px;

        &.is-active {
          border-color: #eee;
        }

        &.blog {
          width: 72px;

          &.is-active::before {
            background-position: 0 -20px;
          }
        }

        &.facebook {

          &.is-active::before {
            background-position: -66px -20px;
          }
        }

        &.insta {

          &.is-active::before {
            background-position: -45px -20px;
          }
        }

        &.youtube {

          &.is-active::before {
            background-position: -77px -14px;
          }
        }

        &.attach-file {

          &.is-active::before {
            background-position: -98px 0;
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: url($imgCommon + 'bg-attach-link.png');
          background-size: 118px;
        }

        &.blog::before {
          width: 44px;
          height: 20px;
          background-position: 0 0;
        }

        &.facebook::before {
          width: 10px;
          height: 20px;
          background-position: -66px 0;
        }

        &.insta::before {
          width: 20px;
          height: 20px;
          background-position: -45px 0;
        }

        &.youtube::before {
          width: 20px;
          height: 14px;
          background-position: -77px 0;
        }

        &.attach-file::before {
          width: 20px;
          height: 20px;
        }
      }

      .link-txt {
        display: block;
        height: 100%;
        text-indent: -9999vw;
      }
    }
  }

  .matching-detail-content {
    width: 827px;
    padding: 30px 0 60px 33px;

    .agent-summary-wrap {
      border-radius: 10px;
      overflow: hidden;

      .summary-tbl-wrap {
        padding: 0 80px 80px;

        .summary-tbl {
          width: 100%;
          border-radius: 10px;
          overflow: hidden;

          th {
            padding: 20px;
            color: #050505;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.71;
            text-align: left;
            background: #f9f9fa;
          }
          
          td {
            padding: 20px;
            color: #050505;
            font-weight: 600;
            font-size: 14px;
            line-height: 1.71;
            background: #fff;
          }
        }
      }

      .location-wrap {
        padding: 60px 92px;
      }
  
      .location-map {
        width: 610px;
        height: 334px;
        margin-top: 20px;
        border-radius: 7px;

        * {
          box-sizing: content-box;
        }

        .info-window {
          width: 150px;
          height: 20px;
          font-size: 12px;
        }
      }

      .location-tit {
        text-align: center;

        .txt {
          display: inline-block;
          color: #fff;
          font-weight: 600;
          font-size: 24px;
          line-height: 1em;
          letter-spacing: -0.6px;
          font-style: italic;
          border-bottom: 1px solid #fff;
        }
      }

      .location {
        margin-top: 27px;

        .location-txt {
          padding-left: 25px;
          color: #f9f9fa;
          font-size: 12px;
          line-height: 24px;
          background: url($imgCommon + 'ico-location02.png') 0 50%/14px no-repeat;
        }

        .copy-location {
          width: 64px;
          height: 24px;
          color: rgba(249, 249, 250, 0.6);
          font-weight: 200;
          font-size: 12px;
          border: solid 1px #a7aab5;
          border-radius: 4px;
        }
      }
    }

    .btn-row-wrap {
      margin-top: 30px;
    }
  }

  .matchingSch + .noData {
    margin-top: 60px;
  }
}
