.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__content {
    position: relative;

    &.w-m {
      width: 894px;
    }
  }

  &__inner {
    border-radius: 10px;
    overflow: hidden;
    background: #fff;

    &.bg-none {
      background: none;
    }
  }

  &__close {
    position: absolute;
    top: -42px;
    right: -42px;
    z-index: 1;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgba(248, 249, 250, 0.2);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%);
      background: url($imgCommon + 'sprites-modal.png') 0 -20px/20px no-repeat;
    }

    &:hover {
      background: #fff;

      &::before {
        background-position: 0 0;
      }      
    }
  }

  // 추천서비스팝업
  .rcmd {

    .rcmd-slogan {
      width: 286px;
      background: $themeColor03;
    }

    .rcmd-select {
      width: 608px;
      padding-top: 66px;
      background: #f2f2f3;

      .select-tit {
        color: #050505;
        font-weight: 700;
        font-size: 18px;
        line-height: 1em;
        letter-spacing: -0.45px;
        text-align: center;
      }

      .select-sub-tit {
        margin-top: 10px;
        color: #050505;
        font-weight: 400;
        font-size: 14px;
        line-height: 1em;
        letter-spacing: -0.35px;
        text-align: center;
      }

      .select-col-wrap {
        margin-top: 45px;
        padding: 0 46px 0 37px;
      }

      .select-col {

        .col-tit {
          color: #050505;
          font-size: 1em;
        }

        .chipList {
          margin-top: 14px;

          &__item {
            margin: 6px 2px 0;
          }
        }
      }

      .btn-wrap {
        display: flex;

        .btn-apply {
          width: 204px;
          height: 48px;
          padding-left: 28px;
          box-sizing: border-box;
          background: $themeColor03;
          border-radius: 24px 0 0 24px;
        }

        .btn-txt {
          color: #fff;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }

  // 접수 1단계
  .reception-guide {
    padding: 80px 50px;

    .title {
      color: $themeColor03;
      font-weight: 700;
      font-size: 38px;
      line-height: 1em;
      letter-spacing: -0.95px;
    }

    .sub-tit {
      margin-top: 15px;
      color: $themeColor01;
      font-weight: 200;
      font-size: 18px;
      line-height: 1em;
      letter-spacing: -0.45px;
    }

    .txt01 {
      margin-top: 60px;
      padding-top: 170px;
      color: #394048;
      font-size: 13px;
      font-weight: 200;
      letter-spacing: -0.33px;
      background: url($imgModal + 'modal-receipt-guide.jpg') 50% 0/auto 111px no-repeat;
    }

    .txt02 {
      margin-top: 15px;

      &-sub {
        display: inline-block;
        color: #050505;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.33px;
        border-bottom: 1px solid #050505;
      }
    }

    .chipList {
      margin: 48px 0 0 -8px;

      &__item {
        margin: 12px 0 0 8px;
      }
    }
  }

  // 접수 2단계
  .reception-form {

    .reception-form-head {
      height: 130px;
      padding-left: 48px;
      border-bottom: 1px solid #dadada;
  
      .title {
        padding-top: 40px;
        color: $themeColor03;
        font-weight: 700;
        font-size: 18px;
        line-height: 1em;
        letter-spacing: -0.45px;
  
        .theme02 {
          margin-left: 5px;
          color: $themeColor02;
        }
  
        .italic {
          color: inherit;
          font-weight: 700;
          font-size: 18px;
          line-height: 1em;
          font-style: italic;
        }
      }
  
      .sub-tit {
        margin-top: 15px;
        color: #394048;
        font-weight: 200;
        font-size: 13px;
        line-height: 1em;
        letter-spacing: -0.33px;
      }
    }

    .form {
      max-height: 464px;
      padding: 36px 50px;
      background: #f2f2f3;
      box-sizing: border-box;

      .formRow {

        & + .formRow {
          margin-top: 36px;
        }
      }

      .textArea__text {
        height: 120px;
      }
    }

    .reception-form-foot {
      height: 172px;
      padding: 20px 0 0;
      box-sizing: border-box;
      border-top: 1px solid #dadada;

      .agree {
        display: flex;
        align-items: center;
        justify-content: center;

        &__txt {
          color: #050505;
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
          margin-left: 12px;
        }

        &__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 64px;
          height: 24px;
          margin-left: 12px;
          border: 1px solid #d9d9d9;
          box-sizing: border-box;
          border-radius: 3px;
          box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.25);

          &Txt {
            color: #394048;
            font-weight: 400;
            font-size: 11px;
          }
        }
      }
    }
  }

  .chipList {
    display: flex;
    flex-wrap: wrap;
    margin: 5px -4px 0;

    &__item {
      margin: 4px;
    }
  }
}