.agree-tbl-wrap {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(5, 5, 5, 0.2);
}

.agree-tbl-wrap .agree-tbl {
  width: 100%;
}

.agree-tbl-wrap .agree-tbl.fs-s th,
.agree-tbl-wrap .agree-tbl.fs-s td {
  font-size: 12px;
}

.agree-tbl-wrap .agree-tbl.fs-xs th {
  font-size: 11px;
}

.agree-tbl-wrap .agree-tbl.fs-xs td {
  font-size: 10px;
}

.agree-tbl-wrap .agree-tbl thead th {
  padding: 6px 0 5px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  background: #787D82;
  vertical-align: middle;
  border: 1px solid #f2f2f3;
  line-height: 18px;
}

.agree-tbl-wrap .agree-tbl thead th:first-child {
  border-left: 0;
}

.agree-tbl-wrap .agree-tbl thead th:last-child {
  border-right: 0;
}

.agree-tbl-wrap .agree-tbl tbody td {
  padding: 15px 0;
  color: #394048;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  background: #fff;
  border: 1px solid #f2f2f3;
}

.agree-tbl-wrap .agree-tbl tbody:first-child {
  border-left: 0;
}

.agree-tbl-wrap .agree-tbl tbody:last-child {
  border-right: 0;
}
