$img: '../images/';
$imgMain: $img + 'main/';
$imgCommon: $img + 'common/';

$guideW: 1200px;
$minW: 1200px;

$themeColor01: #32a9fd;
$themeColor02: #00c268;
$themeColor03: #105de1;
$themeColor04: #013ca0;