@charset 'utf-8';

@import 'font.scss';
@import 'var.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  font-style: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
  max-width: 100%;
}

* {
  color: #000;
  font-family: 'S-CoreDream', serif;
}

figcaption {
  height: 0;
  overflow: hidden;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
  table-layout: fixed;
}   

a {
  color: #000;
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
  background: none;
}

.is-blind {
  position: absolute;
  left: -9999em;
}

.wrap {
  min-width: $minW;
}

.rowContent__inner {
  width: 1200px;
  margin: 0 auto;
}

[class*="d-flex"] {
  display: flex;
}

.d-flex {
  &-s-s {
    justify-content: flex-start;
    align-items: flex-start;
  }
  &-s-c {
    justify-content: flex-start;
    align-items: center;
  }
  &-s-e {
    justify-content: flex-start;
    align-items: end;
  }
  &-c-s {
    justify-content: center;
    align-items: flex-start;
  }
  &-c-c {
    justify-content: center;
    align-items: center;
  }
  &-c-e {
    justify-content: center;
    align-items: end;
  }
  &-e-s {
    justify-content: end;
    align-items: flex-start;
  }
  &-e-c {
    justify-content: end;
    align-items: center;
  }
  &-e-e {
    justify-content: end;
    align-items: end;
  }
  &-sb-s {
    justify-content: space-between;
    align-items: flex-start;
  }
  &-sb-c {
    justify-content: space-between;
    align-items: center;
  }
  &-sb-e {
    justify-content: space-between;
    align-items: end;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

.tac {
  text-align: center !important;
}

// 버튼 계단 변경
.btn-step-chg {
  &.theme03 {
    --background: $themeColor03;
    --text: #fff;

    &:hover {
      --background: $themeColor04;
    }
  }

  // --background: #275efe;
  // --text: #fff;
  // --font-size: 16px;
  // --duration: .44s;
  // --move-hover: -4px;
  // --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
  // --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
  // --font-shadow: var(--font-size);
  // padding: 16px 32px;
  // font-family: 'Roboto';
  // font-weight: 500;
  // line-height: var(--font-size);
  // border-radius: 24px;
  display: flex;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: .5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  box-sizing: border-box;
  div {
      display: flex;
      overflow: hidden;
      text-shadow: 0 var(--font-shadow) 0 var(--text);
      justify-content: center;
      align-items: center;
      span {
          display: block;
          backface-visibility: hidden;
          font-style: normal;
          transition: transform var(--duration) ease;
          transform: translateY(var(--m)) translateZ(0);
          $i: 1;
          @while $i < 12 {
              &:nth-child(#{$i}) {
                  transition-delay: calc($i / 20) + s;
              }
              $i: $i + 1;
          }
      }
  }
  &:hover {
      --y: var(--move-hover);
      --shadow: var(--shadow-hover);
      span {
          --m: calc(var(--font-size) * -1);
      }
  }
  // &.reverse {
  //     --font-shadow: calc(var(--font-size) * -1);
  //     &:hover {
  //         span {
  //             --m: calc(var(--font-size));
  //         }
  //     }
  // }
}
