@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream1"), url("../font/S-CoreDream-1Thin.woff2") format("woff2"), url("../font/S-CoreDream-1Thin.woff") format("woff"), url("../font/S-CoreDream-1Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream2"), url("../font/S-CoreDream-2ExtraLight.woff2") format("woff2"), url("../font/S-CoreDream-2ExtraLight.woff") format("woff"), url("../font/S-CoreDream-2ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream3"), url("../font/S-CoreDream-3Light.woff2") format("woff2"), url("../font/S-CoreDream-3Light.woff") format("woff"), url("../font/S-CoreDream-3Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream4"), url("../font/S-CoreDream-4Regular.woff2") format("woff2"), url("../font/S-CoreDream-4Regular.woff") format("woff"), url("../font/S-CoreDream-4Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream5"), url("../font/S-CoreDream-5Medium.woff2") format("woff2"), url("../font/S-CoreDream-5Medium.woff") format("woff"), url("../font/S-CoreDream-5Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream6"), url("../font/S-CoreDream-6Bold.woff2") format("woff2"), url("../font/S-CoreDream-6Bold.woff") format("woff"), url("../font/S-CoreDream-6Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream7"), url("../font/S-CoreDream-7ExtraBold.woff2") format("woff2"), url("../font/S-CoreDream-7ExtraBold.woff") format("woff"), url("../font/S-CoreDream-7ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream8"), url("../font/S-CoreDream-8Heavy.woff2") format("woff2"), url("../font/S-CoreDream-8Heavy.woff") format("woff"), url("../font/S-CoreDream-8Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream9"), url("../font/S-CoreDream-9Black.woff2") format("woff2"), url("../font/S-CoreDream-9Black.woff") format("woff"), url("../font/S-CoreDream-9Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  max-width: 100%;
}

* {
  color: #000;
  font-family: 'S-CoreDream', serif;
}

figcaption {
  height: 0;
  overflow: hidden;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
  background: none;
}

.is-blind {
  position: absolute;
  left: -9999em;
}

.wrap {
  min-width: 1200px;
}

.rowContent__inner {
  width: 1200px;
  margin: 0 auto;
}

[class*="d-flex"] {
  display: flex;
}

.d-flex-s-s {
  justify-content: flex-start;
  align-items: flex-start;
}

.d-flex-s-c {
  justify-content: flex-start;
  align-items: center;
}

.d-flex-s-e {
  justify-content: flex-start;
  align-items: end;
}

.d-flex-c-s {
  justify-content: center;
  align-items: flex-start;
}

.d-flex-c-c {
  justify-content: center;
  align-items: center;
}

.d-flex-c-e {
  justify-content: center;
  align-items: end;
}

.d-flex-e-s {
  justify-content: end;
  align-items: flex-start;
}

.d-flex-e-c {
  justify-content: end;
  align-items: center;
}

.d-flex-e-e {
  justify-content: end;
  align-items: end;
}

.d-flex-sb-s {
  justify-content: space-between;
  align-items: flex-start;
}

.d-flex-sb-c {
  justify-content: space-between;
  align-items: center;
}

.d-flex-sb-e {
  justify-content: space-between;
  align-items: end;
}

.d-flex.wrap {
  flex-wrap: wrap;
}

.tac {
  text-align: center !important;
}

.btn-step-chg {
  display: flex;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: .5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  box-sizing: border-box;
}

.btn-step-chg.theme03 {
  --background: $themeColor03;
  --text: #fff;
}

.btn-step-chg.theme03:hover {
  --background: $themeColor04;
}

.btn-step-chg div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
  justify-content: center;
  align-items: center;
}

.btn-step-chg div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}

.btn-step-chg div span:nth-child(1) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(2) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(3) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(4) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(5) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(6) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(7) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(8) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(9) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(10) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg div span:nth-child(11) {
  transition-delay: calc($i / 20)s;
}

.btn-step-chg:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}

.btn-step-chg:hover span {
  --m: calc(var(--font-size) * -1);
}
